<html> 
    <title>Instructions</title>
    <head>

    </head>
    <body>
        <h2>Instruction: </h2>
        <p>On the next page, you will be given a number of sentences. </p>

        <p>Please read each sentence in a voice that best conveys <b> charisma. </b></p>
        
        <p>A charismatic speech is often considered <b> to varying in speed </b> (e.g., sometimes fast, sometimes with pause), <b> varying in energy </b>
           (e.g., stress certain word or phrase)</p>
        <p>, and <b> varying in pitch </b> (e.g., a more animated voice), compared to a mono-tone and mono-speed voice that often puts one to sleep.</p>

        <p>A charismatic speech <b> inspires </b> and <b> motivates. </b></p>

        </p>
    </body>
</html>