<html> 
    <title>Instructions</title>
    <head>

    </head>
    <body>
        <h2>Instruction: </h2>
        <p>On the next page, you will be given a number of sentences. </p>

        <p> Please read each sentence in a voice that is <b> in contrast with </b> a voice that conveys charisma. 
            For example, a voice that is <b> mono-tone, lack of emphasis, without changes in speed or pauses. </b> 
            And generally a voice that’s <b> boring </b> and puts one to sleep. 
        </p>
    </body>
</html>


